/* #group.howkteam.com -> trao đổi, hỏi đáp, thảo luận
     #nhớ Like và Sub video youtube
     #Code: howkteam.com
     #Kho tài liệu: Howkteam.com/documentation
     #Hỏi đáp tại website: howkteam.com/questions => người khác tìm lại có đáp án  */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
    /* mac dinh la 16px */
}

/* -------------------------------------------- */
/* ------------------HEADER------------------ */
/* ------------------------------------------------ */
header{
    background-image: url("../img/background4.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* view height */
    background-attachment: fixed;
}

.logo{
    width: 350px;
}

.row{
    width: 1140px;
    margin: 0 auto;
}
/* ..................... */
/* ....contact form...... */



/* ..................... */
/* .......................*/
/* .......footer.......... */
footer{
    text-align: center;
    background-color: #463030;
    padding: 20px;
}